/*|||||||||||||
 -CSS RESETS-
||||||||||||||*/
 body {
   margin: 0;
   /*background: red;*/
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: .75rem;
   color: #ada69c;
 }

 img {
   max-width: 100%;
 }



 /*|||||||||||||
 -Global Styles-
||||||||||||||*/
main {
  /*background: green;*/
}

.container {
  /*background: blue;*/
  max-width: 65rem;
  margin: 0 auto;
}



/*|||||||||||||
-Grid Styles-
||||||||||||||*/
.grid {
  overflow: auto;
}



/*|||||||||||||
-Grid Item Styles-
||||||||||||||*/
.grid__item {
  float: left;
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
  min-width: 17rem; /* arrived at this number by trial and error */
}

.item-image {
  border: 0.1rem solid #e3e3e3;
  border-radius: .25rem;
}

.item-info {
  overflow: auto;

  border-bottom: thin solid #e3e3e3;
}

.item-info__left {
  float: left;
  margin: 1rem 0;
}

.item-info__right {
  float: right;
  margin: .5rem 0;
}

.item-info__name {
  float: left;
  margin: .5rem .5rem .5rem 0;
}

.item-info__creator-pic {
  width: 1.5rem;
  height: 1.5rem;
  margin:  .25rem 0; /* img height set to 2x font-size so theoretically setting the margin top/bottom to half the size of text   margin top/bottom will make them aligned vertically?*/
  padding: 0;

  border-radius: 10%;
}

.cat-name {
  color: #1f1e1e;
}
